<head>
  <title>mitqo</title>
      <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
      <!--<script src="/jquery.js"></script>
      <script src="/build/jquery.datetimepicker.full.min.js"></script>-->

</head>
