normalize-css()

// Material Shadows
shadow-level(l = 1)
    if l == -1
        box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
    if l == 0
        box-shadow: none;
    if l == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    if l == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    if l == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    if l == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    if l == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

// Common Transition
trans($sec = 0.3s)
    transition: all $sec ease
// Grid
$xsmall = 340px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px

// Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}

social = {
    twitter: #00aced,
    facebook: #3b5998,
    google: #dd4b39,
    youtube: #bb0000
}

$side-nav = 100px
$side-nav-large = 200px

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

body
    background light-grey
    padding: 70px 0 150px
    font-family: 'Open Sans', sans-serif

.navbar-header
    float right
    margin-right 40px
    margin-top 10px
    a
        color: #53c6b8
        text-decoration: none
        line-height: 36px
        font-size: 1.2em
        display: inline-block
        border-bottom 4px solid transparent
        trans()
        + a
            margin-left: 30px
        &:hover
            border-color white


p
    color #333

.page-title
    text-transform uppercase
    font-weight 800
    margin-bottom 30px

.main-layout
    lost-center 90%
    margin-top 20px
    +above($large)
        lost-center 70%
        margin-top 40px

.button
    display inline-block
    font-size 110%
    font-family Arial, sans-serif
    color #fff
    cursor pointer
    background #373737
     border-radius 5px
     border none
     padding 7px 10px
     margin-bottom 10px
     margin-right 10px
    text-align center
/*.btn
    cursor pointer
    background black
    color #53c6b8
    text-decoration none
    text-transform uppercase
    padding 5px 15px
    font-weight 800
    shadow-level(1)
    trans()
    &:hover
        background @background - 20
        border-color @background
        shadow-level(2)
    &.btn-primary
        background teal
        border-color teal
        color dark-purp
        &:hover
            background @background - 40
            border-color @background
    &.btn-deny
        background red
        border solid 3px @background
        &:hover
            background @background - 20
            border-color @background
    &.btn-text
        color purp
        background transparent
        border solid 2px purp
        shadow-level(0)
        &:hover
            background teal
            border-color @background
            shadow-level(1)
    &.btn-text-dark
        color #FFF
        background transparent
        border solid 2px #FFF
        shadow-level(0)
        &:hover
            background #FFF
            color dark-purp
            border-color @background
            shadow-level(1)
    &.btn-confirmation
        color black
        background green
        border solid 2px @background
        &:hover
            background @background - 20
            border-color dark-purp
    &.btn-cancel
        color #FFF
        background transparent
        border solid 2px #FFF
        opacity 0.4
        shadow-level(-1)
        &:hover
            background red
            color #FFF
            opacity 1
            shadow-level(2)
            border-color @background */

input, select, textarea
    color purp
    background #FFF
    border solid 2px light-grey
    border-radius 2px
    font-weight 800
    padding 6px 6px
    margin-bottom 10px

input::-webkit-input-placeholder
    color: #ddd
input:-moz-placeholder
    color: #ddd
input::-moz-placeholder
    color: #ddd
input:-ms-input-placeholder
    color: #ddd

.new-resolution
    transition all 0.3s cubic-bezier(0.86, 0, 0.07, 1)
    shadow-level(3)
    &:hover
        shadow-level(5)
    label
        background dark-purp
        text-transform uppercase
        font-weight 800
        color #FFF
        font-size 1.2em
        padding 10px
        display block
        text-align center
        letter-spacing 2px
    input
        width 100%
        margin 0
        font-size 2em
        font-weight 800
        color #333
        border none
        padding 30px

.resolutions
    list-style none
    padding 0
    margin 40px 0
    lost-center 700px
    li
        font-size 2em
        margin-bottom 8px
        trans()
        input
            margin-right 10px
        &.checked
            color #CCC
        button
            padding 10px
            margin-left 40px
            line-height 0.5
            float right

.panel-body
    .form-group
        lost-column 1/2

.side-nav
    fixed bottom left
    height 100px
    width 100%
    overflow hidden
    background dark-purp
    color #FFF
    z-index: z.header
    shadow-level(2)
    ul
        margin 0
        padding 0
        display flex
        justify-content space-between
        list-style none
    a
        color #FFF
        text-decoration none
        padding 20px 20px
        display block
        text-align center
        trans()
        &:hover, &.active
            background purp
    i
        display block
        font-size 2em
        margin-bottom 10px
    +above($med)
        height 100%
        z-index: z.mid
        padding 120px 0
        fixed top left
        width $side-nav
        ul
            display block
        shadow-level(-1)
        a
            padding 20px 10px
            &:hover, &.active
                border-left 4px solid teal
    +above($large)
        width $side-nav-large
        a
            padding 20px 20px
            &:hover, &.active
                border-left 10px solid teal

.completed
    color #FFF
    background teal
    border-radius 5px
    padding 5px
    margin-left 20px
    animation complete 0.6s ease
    font-size 0.6em

#login-dropdown-list
    right -1px
    left auto

#login-sign-in-link, #login-name-link
    margin-left: 30px


@keyframes complete
    0%
        opacity 0
        transform translate3d(0,-30px,0)
    100%
        opacity 1
        transform translate3d(0, 0,0)

.resolutionLoad-enter
    opacity: 0
    animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

.resolutionLoad-leave
    animation: slideOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
    opacity: 1.0

@keyframes slideIn
    0%
        opacity 0
        transform translate3d(-50px, 0, 0)
    100%
        opacity 1
        transform translate3d(0, 0, 0)

@keyframes slideOut
    0%
        opacity 1
        transform translate3d(0, 0, 0)
    100%
        opacity 0
        transform translate3d(50px, 0, 0)

@keyframes slideUp
    0%
        opacity 0
        transform translate3d(0, 60px, 0)
    100%
        opacity 1
        transform translate3d(0, 0, 0)

.route-enter, .route-appear
    opacity: 0
    animation: slideIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

.route-leave
    animation: slideOut 0.4s cubic-bezier(0.165, 0.84, 0.44, 1)
    opacity: 1.0

.route-appear
    opacity: 0
    animation: slideUp 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

//twitter bootstrap

#projectsTitle {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 50px;
  //font-weight: bold;
  //color: #A9A9A9;
}

.ganttProject{
    margin-top: 50px;
}

.editProj {
    font-family: Arial;
    font-size: 14px;
    color: A9A9A9;
}

#workSpace{
  overflow-x: visible !important;
  overflow-y: visible !important;
  /*width: auto !important;*/
  /*height: auto !important;*/
  border:none !important;
  padding: 0px;
  border: 1px;
  margin: 0px 5px;
  width: 1365px;
  height: 117px;
}

.officialColor
    color: #53c6b8
.fa-2x { color: #75858c }
.zero-padding {
    padding: 0px;
}
.redColor {
    color: #ff8080;
}
.zero-padding-right {
    padding-right: 0px;
}
.notification-box-task {
    border-right 1px solid;
    border-left 1px solid;
    border-top 1px solid;
    border-bottom 1px solid;
    border-radius: 8px;
    padding-left: 10px;
    color: #666666;
}
.notification-box-dueSoon {
    border-right 3px solid;
    border-left 3px solid;
    border-top 3px solid;
    border-bottom 3px solid;
    border-radius: 8px;
    border-color: #ff8080;
    padding-left: 10px;
}
.notification-box-assigned-dueSoon {
    border-right 3px solid;
    border-left 3px solid;
    border-top 3px solid;
    border-bottom 3px solid;
    border-radius: 8px;
    border-color: #ff9900;
    padding-left: 10px;
}

.select-box {
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
}

.table-row-hover:not(.no-hover):hover {
    background: #53c6b8;
}

.zero-margin {
    margin:0px;
}

.row-project-padding {
    padding-left: 5px;
}

.table-fonts {
    font-size: 15px;
    color:#4d4d4d;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.subline-fonts {
    font-size: 10px;
    color:#4d4d4d;
    font-style:italic;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.table-fonts-rows {
    color:#4d4d4d;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.project-font {
    font-weight: bold;
}

.task-font {
    font-weight: normal;
}

.h3-modal {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color:#4d4d4d;
}

.pull-right-config {
    float: right;
    padding-top: 12px;
    padding-right: 10px;
}

.text-left-notification {
    margin-left: -10px;
}

.border-pane {
    position: relative;
    border-right 1px solid;
    color: #666666;
    padding-right: 0px;
    padding-bottom: 30px;
}
.notification-overdue {
    background-color: #ff8080;
}
.notification-dueSoon {
    background-color:  #ffcc00;
}
.notification-assigned-overdue {
    background-color: #ff9900;
}

.addChildTask-icon {
    margin-top: -8px;
}
.ds-btn li {
    list-style: none;
    float: left;
    padding: 10px;
}
.ds-btn span{
    font-size:90%;
}
.ds-btn li a span {
    padding-left: 15px;
    padding-right: 5px;
    width: 100%;
    display: inline-block;
    text-align: left;
}
.ds-btn li a span small {
    width: 100%;
    display: inline-block;
    text-align: left;
}
.navbar-static-top {
    background-color: #2b5386;
    color: #fff;
}
.sidebar-link {
    display: block;
    max-width: 116px;
    overflow: hidden;
    padding-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
hr { border-color: #dedede }
.wrapper,
.srow {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}
.wrapper:before,
.wrapper:after,
.column:before,
.column:after {
    content: "";
    display: table;
}
.wrapper:after,
.column:after { clear: both }
.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}
.column .padding { padding: 20px }
.padding { height: 95vh }
.full { padding-top: 70px }
.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.divider { margin-top: 32px }
.navbar-black {
    border-width: 0;
    background-color: #4d4d4d;
    color: #ffffff;
    font-family: arial, sans-serif;
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar-black li > a,
.navbar-toggle { color: #efefef }
.navbar-black .dropdown-menu li a { color: #2A4888 }
.navbar-black .dropdown-menu li > a { padding-left: 30px }
.navbar-black li > a:hover,
.navbar-black li > a:focus,
.navbar-black .open,
.navbar-black .open > a,
.navbar-black .open > a:hover,
.navbar-black .open > a:focus {
    background-color: #2A4888;
    color: #fff;
}
.navbar-right {
    margin: 0 20px;
    padding: 0;
}
.input-group { margin-right: 10px }
#banner {
  background-color: #1a1100;
}
#signin { margin-top: -40px }
#main {
    background-color: #e9eaed;
    padding-left: 0;
    padding-right: 0;
    margin-top: -50px;
}
#main .img-circle {
    margin-top: 18px;
    height: 70px;
    width: 70px;
}
.postbutton {
    position: relative;
    left: 20px;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
#sidebar,
#sidebar a,
#sidebar-footer a {
    color: #000;
    padding-left: 5px;
}
.logo {
    display: block;
    padding: 3px;
    background-color: #fff;
    color: #3B5999;
    height: 28px;
    width: 28px;
    margin: 9px;
    margin-right: 2px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px;
    border-radius: 2px;
}
h1,
h2,
h3 { font-weight: 800 }
.navbar-toggle,
.close { outline: 0 }
.navbar-toggle .icon-bar { background-color: #fff }
.btn-primary,
.label-primary,
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #3B5999;
    color: #fffffe;
}
.btn-default {
    color: #666666;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
}
.form-control { }
.panel textarea,
.well textarea,
textarea.form-control { resize: none }
.badge {
    color: #3B5999;
    background-color: #fff;
}
.badge:hover,
.badge-inverse {
    background-color: #3B5999;
    color: #fff;
}
.jumbotron { background-color: transparent }
.label-default { background-color: #dddddd }
.panel-default .panel-heading {
    background-color: #f9fafb;
    color: #555555;
}
.modal-save {
  border-style: solid;
  border-top: thick #ffffff;
  color: #4d4d4d;
  margin-bottom: 7px;
}
.col-sm-9.full { width: 100% }
.modal-dialog { width: 100% }
.modal-header,
.modal-footer {
    background-color: #f2f2f2;
    font-weight: 800;
    font-size: 12px;
}
.modal-footer i,
.well i {
    font-size: 20px;
    color: #c0c0c0;
}
.modal-body { padding: 0px }
.modal-body textarea.form-control {
    resize: none;
    border: 0;
    box-shadow: 0 0 0;
}
small.text-muted { font-family: courier, courier-new, monospace }
/* adjust the contents on smaller devices */
@media (max-width: 768px) {
    .column .padding { padding: 7px }
    .full { padding-top: 20px }
    .navbar-black {
        background-color: #3B5999;
        top: 0;
        width: 100%;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
    .row-offcanvas-left.active { left: 33% }
    .row-offcanvas-left.active .sidebar-offcanvas {
        left: -33%;
        position: fixed;
        top: 30px;
        width: 33%;
        margin-left: 5px;
    }
    #sidebar,
    #sidebar a,
    #sidebar-footer a { padding-left: 3px }
}
.w-8 {
    margin: 20px;
    height: 95vh;
}
.push-down-50 { margin-top: 50px }
.profilePanel { height: 70vh }
.autocomplete {
    background-color: #fff;
    color: #75858c;
}
.autocomplete li { margin-left: 10px }
.autocomplete li:hover {
    background-color: #75858c;
    color: #fff;
}
.filepicker {
    display: inline-block;
    width: 35px;
    padding: 25px 0 0 0;
    height: 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('../images/camera.png') center center no-repeat #e4e4e4;
    background-size: 35px 25px;
}
.space { margin: 10px }
.small {
    max-height: 40px !important;
    max-width: 40px !important;
}
.navbar-react {
    display: block;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 300%;
    color: #fff;
    text-align: left;
    background-color: #2b5386;
    clear: both;
}
.message {
    margin-top: -20px;
    font-size: 14px;
}
.registerError { margin-left: 20px }
.navbar-react:hover { color: #fff }
.featurelist { line-height: 40px }
.postimage {
    max-height: 300px !important;
    max-width: 300px !important;
}
.top50 { margin-top: 20px }
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
.chat {
    list-style: none;
    margin-top: 70px;
    padding: 0;
    width: 800px;
}
.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body { margin-left: 70px }
.chat li.right .chat-body { margin-right: 60px }
.chat li .chat-body p {
    margin: 0;
    color: #777777;
}
.panel .slidedown .glyphicon,
.chat .glyphicon { margin-right: 5px }
.green { color: red }
#srch-term { width: 400px }
.options { margin-right: 30px }
.thumbnail { padding: 0px }
.thumbnail img { max-height: 30px !important }
.panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}
.panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}
.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}
.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}
.post .post-heading .meta .title { margin-bottom: 0 }
.post .post-heading .meta .title a { color: black }
.post .post-heading .meta .title a:hover { color: #aaaaaa }
.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}
.post .post-image .image {
    width: 100%;
    height: 80vh;
}
.post .post-description { padding: 15px }
.post .post-description p { font-size: 14px }
.post .post-description .stats { margin-top: 20px }
.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}
.post .post-description .stats .stat-item .icon { margin-right: 8px }
.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}
.post .post-footer .input-group-addon a { color: #454545 }
.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}
.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}
.post .post-footer .comments-list .comment .comment-body { margin-left: 50px }
.post .post-footer .comments-list .comment > .comments-list { margin-left: 50px }
.actions {
    margin-left: 45px;
    margin-bottom: 20px;
}
.custom-input-file { margin-top: 30px }
.inputWrapper {
    height: 32px;
    width: 76px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.bs-example {
    font-family: sans-serif;
    position: relative;
}
.typeahead,
.tt-query,
.tt-hint {
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 276px;
    color: #000;
    margin-top: 4px;
}
.typeahead { background-color: #FFFFFF }
.tt-query { box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset }
.tt-hint { color: #999999 }
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 322px;
}
.tt-suggestion {
    font-size: 24px;
    line-height: 24px;
    padding: 3px 20px;
    color: #000;
}
.tt-suggestion.tt-is-under-cursor {
    background-color: #3B5999;
    color: #fff;
}
.tt-suggestion p { margin: 0 }
.signup { margin-left: 20px }

.noprint {
  display:none !important;
}

/*Modal css patrickml:react-modal*/
.md-modal {
  position: fixed;
  top: 50%;
  left: 40%;
  z-index: 2000;
  transform: translateX(-50%) translateY(-50%);
  visibility: visible;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.42);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
}

.default-theme .md-content {
  color: #fff;
  background: #4A85D4;
  position: relative;
  border-radius: 3px;
  width: 950px;
}

.default-theme .md-content .md-title {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  opacity: 0.8;
  width: 950px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px 3px 0 0;
}

.default-theme .md-content .md-body {
  margin: 0;
  font-weight: 300;
  font-size: 1.15em;
  border-radius: 3px;
  width: 950px;
  height: 500px;
  padding: 15px;
  overflow-y: auto;
}

.default-theme .md-content .md-close {
  position: absolute;
  top: -31px;
  right: 0;
  border: solid 1px #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 360px;
  cursor: pointer;
  font-size: 14px;
}

.default-theme .md-content button {
  border: none;
  padding: 0.6em 1.2em;
  background: #4A85D4;
  color: #fff;
  font-family: 'Open Sans', Calibri, Arial, sans-serif;
  font-size: .75em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 3px 2px;
  border-radius: 2px;
}

.default-theme .md-content button:focus {
  outline: 0;
}

.md-content {
  margin: 0 auto;
  height: 500px;
}

.md-modal-enter .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-modal-enter.md-modal-enter-active .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.md-modal-leave .md-content {
  opacity: 1;
  transform: scale(1);
  transition: all 0.2s;
}

.md-modal-leave.md-overlay {
  opacity: 1;
  transition: all 0.2s;
}

.md-modal-leave.md-modal-leave-active .md-content {
  opacity: 0.00;
  transform: scale(0.7);
}

.md-modal-leave.md-modal-leave-active.md-overlay {
  opacity: 0;
  transition: all 0.2s;
}

/*datetime picker - miguelalarcos*/
.xdatetime {
    position: relative;
    display: inline;
}

.xdatetime-popover {
    position: absolute;
    width: 120%;

    z-index: 2;
    cursor: pointer;
    background-color: #d9d9d9;
    border: 1px solid #e8e9ed;
    border-radius: 4px;
}

.xdatetime-header, .xdatetime-bottom {
    background: #a6a6a6;
    margin-bottom: 0.5em;
}

.xdatetime-popover i.icon {
    margin: 0 0.5em;
}

.xdatetime-popover div {
    display: block;
    width: auto;
    padding: 0.5em;
    text-align: center;
}

.xdatetime-popover div:last-child {
    margin-bottom: 0.5em;
}

.xdatetime-day {
    padding: 0.5em;
    border-radius: 4px;
}

.xdatetime-day:hover {
    background-color: #e8e9ed;
}

.minus-minute:hover, .plus-minute:hover, .minus-hour:hover, .plus-hour:hover,
.minus-month:hover, .plus-month:hover, .minus-year:hover, .plus-year:hover
{
    color: #F85555;
}

.set-time:hover, .set-year:hover {
    color: #536DE5;
}

.xbold {
    font-weight: bold;
}

.xcursive {
    color: lightgrey; /*#e8e9ed;*/
    font-style: italic;
}

.xcursive.xdatetime-day:hover {
    color: #222;
}

.xunderline {
    text-decoration: underline;
}

.xdatetime-day.xtoday {
    background: #F85555;
    color: #fff;
    text-decoration: none;
}

.red {
    color: #F85555;
}

//suggestible-input

.suggestible-input {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 35px;
  box-sizing: border-box;
}

/* Actual input element */
.suggestible-input > input {
  z-index: 9001;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 7px 30px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: normal;
  outline: none;
  box-sizing: border-box;
}
.suggestible-input > input:focus {
  //border-color: #66cc00;
}

/* Clear button */
.suggestible-input-clear {
  z-index: 9005;
  display: block;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 13px;
  height: 13px;
  border: none;
  background-color: transparent;
  background-image: url('close-round.svg');
  background-size: 12px;
  background-position: 0 0;
  background-repeat: no-repeat;
  color: #333;
  opacity: 0.5;
  visibility: visible;
  outline: 0;
}
.suggestible-input-clear:hover,
.suggestible-input-clear:active,
.suggestible-input-clear:focus {
  opacity: 1;
  cursor: pointer;
  outline: 0;
}
.suggestible-input-clear.disabled {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* Suggestions container */
.suggestible-input-suggestions {
  display: block;
  margin-top: 10px;
}
.suggestible-input-suggestions > ul {
  z-index: 9000;
  position: absolute;
  top: 45px;
  left: 0;
  bottom: auto;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
}
.suggestible-input-suggestions > ul > li {
  background: none;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e2e2e2;
}
.suggestible-input-suggestions > ul > li:last-child {
  border-bottom: none;
}
.suggestible-input-suggestions > ul > li:hover {
  background-color: #f6f6f6;
}

/* Used to mask out everything that's not inside the suggestible-input component
   so that it can act as a clickable area to disengage the suggestions overlay. */
.suggestible-input-bg {
  z-index: 8000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  cursor: default;
}
